<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Server" version="1.0.3046" targetFramework="net452" />
  <package id="FiveMRemoteCall.Server" version="20.9.30.212817" targetFramework="net452" />
  <package id="FiveMRemoteCall.Shared" version="20.9.30.212817" targetFramework="net452" />
</packages>