<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Client" version="1.0.3046" targetFramework="net452" />
  <package id="FiveMDependencyInjection" version="20.9.28.173135" targetFramework="net452" />
  <package id="FiveMRemoteCall.Client" version="20.9.30.212817" targetFramework="net452" />
  <package id="FiveMRemoteCall.Shared" version="20.9.30.212817" targetFramework="net452" />
</packages>